<meta charset="UTF-8"> <!-- Définit l'encodage des caractères -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Spécifie la version d'Internet Explorer à utiliser -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Définit la vue initiale sur les appareils mobiles -->
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> <!-- Lien vers le fichier CSS de Bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> <!-- Lien vers le fichier CSS de Font Awesome -->
<link rel="stylesheet" href="./CSS/style.css"> <!-- Lien vers votre propre fichier CSS -->
<link rel="stylesheet" href="./CSS/animate.css"> <!-- Lien vers le fichier CSS d'animation -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> <!-- Lien vers le fichier CSS Normalize -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Neuton|Oswald'> <!-- Lien vers les polices Google -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script> <!-- Lien vers le script Prefixfree -->
<link rel="icon" href="./IMG/banking.png"> <!-- Lien vers l'icône du site -->

<title><%- title %></title> <!-- Titre de la page (utilisation de variables EJS) -->
