<header class="header">
  <!-- Logo -->
  <h1 class="logo"><a href="https://github.com/LaCobble"><img src="IMG/banking.png" alt="logo" width="60px" height="60px"></a></h1>
  <!-- Barre de navigation -->
  <ul class="main-nav">
    <li><a class="nav-link active" aria-current="page" href="index.html">Home</a></li>
    <li><a class="nav-link" href="/adduser">Add User</a></li>
    <li><a class="nav-link" href="/data">view User</a></li>
    <li><a class="nav-link" href="/history">Transfer History</a></li>
    <li><a class="nav-link" href="/login">Login</a></li>
  </ul>
</header>
